<div class="container wm-75">

  <form [formGroup]="newTechnicForm" class="form" id="form-new-tec">
    <h1 class="h2 mb-3 font-weight-normal" id="h1-new-tec">Introducir una nueva Técnica</h1>
    <div class="form-group row">
      <label for="name"  class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
        <input id="name" class="form-control" type="text" formControlName="name" [ngClass]="[
        newTechnicForm.get('name').touched && newTechnicForm.get('name').invalid ? 'is-invalid' : '',
        newTechnicForm.get('name').dirty && newTechnicForm.get('name').valid ? 'is-valid' : ''
        ]">
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
      <div class="col-sm-10">
        <textarea id="description" class="form-control" type="text" formControlName="description" [ngClass]="[
        newTechnicForm.get('description').touched && newTechnicForm.get('description').invalid ? 'is-invalid' : '',
        newTechnicForm.get('description').dirty && newTechnicForm.get('description').valid ? 'is-valid' : ''
        ]"></textarea>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="categoria"  class="col-sm-2 col-form-label">Categoría:</label>
      <div class="col-sm-10">
        <select id="categoria" class="form-control" formControlName="categoria" [ngClass]="[
        newTechnicForm.get('categoria').touched && newTechnicForm.get('categoria').invalid ? 'is-invalid' : '',
        newTechnicForm.get('categoria').dirty && newTechnicForm.get('categoria').valid ? 'is-valid' : ''
        ]">
          <option selected disabled>Seleccionar categoria</option>
          <option *ngFor="let categoria of categorias" value="{{categoria['Id']}}">{{categoria['Nombre']}}</option>
        </select>

        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block btn-estandar" [disabled]="!newTechnicForm.valid" (click)="newTecnica()">
        Crear cuenta
      </button>
    </div>
  </form>
</div>