<div class="container wm-75" id="div-edit-cat">
<h1 class="h2 mb-3 font-weight-normal"> Categorias</h1>
  <form [formGroup]="modCategoryForm" (ngSubmit)="saveChanges()" class="form">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" class="th-profile">
            <label for="name">Nombre:</label>
          </th>
          <td *ngIf="!edit" class="td-profile">
            <select id="name" class="form-control" formControlName="name" (change)="selectOption($event.target.value)"
            [ngClass]="[ modCategoryForm.get('name').touched && modCategoryForm.get('name').invalid ? 'is-invalid' : '',
            modCategoryForm.get('name').dirty && modCategoryForm.get('name').valid ? 'is-valid' : ''
            ]">
              <option disabled>Selecciona un nombre</option>
              <option *ngFor="let categoria of categorias"  [value]="categoria['Id']">{{ categoria['Nombre'] }}</option>
            </select>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
          <td *ngIf="edit" class="td-profile">
            <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="[
            modCategoryForm.get('name').touched && modCategoryForm.get('name').invalid ? 'is-invalid' : '',
            modCategoryForm.get('name').dirty && modCategoryForm.get('name').valid ? 'is-valid' : ''
            ]">
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
        </tr>
        <tr>
          <th scope="row" class="th-profile">
            <label for="description">Descripción:</label>
          </th>
          <td class="td-profile text-aling-center">
            <textarea type="description" formControlName="description" class="form-control" id="description"
            placeholder="" [ngClass]="[ !edit ? 'cleaned' : '',
            modCategoryForm.get('description').touched && modCategoryForm.get('description').invalid ? 'is-invalid' : '',
            modCategoryForm.get('description').dirty && modCategoryForm.get('description').valid ? 'is-valid' : ''
            ]" value="Hola"></textarea>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group " [ngClass]="!edit ? 'd-none' : 'd-flex justify-content-between'">
      <button type="button" class="btn btn-warning btn-estandar" (click)="cancelEdit()">
        Cancelar
      </button>
      <button type="submit" class=" btn btn-success btn-estandar" (click)="saveChanges()" [disabled]="!modCategoryForm.valid">
        Guardar cambios
      </button>
    </div>
  </form>
  <div class="text-right" [ngClass]="edit ? 'd-none' : 'd-flex justify-content-between'">
    <button type="button" class=" btn btn-danger" (click)="msnBorrar()">
      Borrar categoría
    </button>
    <button type="button" class=" btn btn-info btn-estandar" (click)="editar()">
      Editar
    </button>
  </div>
</div>
