<div class="container wm-75" id="div-edit-pro">
    <h1 class="h2 mb-3 font-weight-normal">Productos </h1>
     <form [formGroup]="modProductForm" (ngSubmit)="saveChanges()" class="form">
       <table class="table table-bordered">
         <tbody>
           <tr>
             <th scope="row" class="th-profile">
               <label for="name">Nombre:</label>
             </th>
             <td *ngIf="!edit" class="td-profile">
               <select id="name" class="form-control" formControlName="name" [ngClass]="[
               modProductForm.get('name').touched && modProductForm.get('name').invalid ? 'is-invalid' : '',
               modProductForm.get('name').dirty && modProductForm.get('name').valid ? 'is-valid' : ''
               ]">
                 <option selected disabled>Seleccionar un nombre</option>
               </select>
               <div class="invalid-feedback">Este campo es obligatorio</div>
             </td>
             <td *ngIf="edit" class="td-profile">
               <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="[ !edit ? 'cleaned' : '',
               modProductForm.get('name').touched && modProductForm.get('name').invalid ? 'is-invalid' : '',
               modProductForm.get('name').dirty && modProductForm.get('name').valid ? 'is-valid' : ''
               ]">
               <div class="invalid-feedback">Este campo es obligatorio</div>
             </td>
           </tr>
           <tr>
             <th scope="row" class="th-profile">
               <label for="description">Descripción:</label>
             </th>
             <td class="td-profile text-aling-center">
               <textarea type="description" formControlName="description" class="form-control" id="description"
               placeholder="Escribe la descripción de la categoría" [ngClass]="[ !edit ? 'cleaned' : '',
               modProductForm.get('description').touched && modProductForm.get('description').invalid ? 'is-invalid' : '',
               modProductForm.get('description').dirty && modProductForm.get('description').valid ? 'is-valid' : ''
               ]"></textarea>
               <div class="invalid-feedback">Este campo es obligatorio</div>
             </td>
           </tr>
           <tr>
              <th scope="row" class="th-profile">
                <label for="tipo">Tipo:</label>
              </th>
              <td class="td-profile">
                <select id="tipo" class="form-control" formControlName="tipo" [ngClass]="[ !edit ? 'cleaned' : '',
                modProductForm.get('tipo').touched && modProductForm.get('tipo').invalid ? 'is-invalid' : '',
                modProductForm.get('tipo').dirty && modProductForm.get('tipo').valid ? 'is-valid' : ''
                ]">
                  <option selected disabled>Seleccionar un tipo</option>
                </select>
                <div class="invalid-feedback">Este campo es obligatorio</div>
              </td>
            </tr>
           <tr>
              <th scope="row" class="th-profile">
                <label for="ingredientes">Ingredientes:</label>
              </th>
              <td class="td-profile text-aling-center">
                <textarea type="ingredientes" formControlName="ingredientes" class="form-control" id="ingredientes"
                [ngClass]="[ !edit ? 'cleaned' : '',
                modProductForm.get('ingredientes').touched && modProductForm.get('ingredientes').invalid ? 'is-invalid' : '',
                modProductForm.get('ingredientes').dirty && modProductForm.get('ingredientes').valid ? 'is-valid' : ''
                ]"></textarea>
                <div class="invalid-feedback">Este campo es obligatorio</div>
              </td>
            </tr>
            <tr>
                <th scope="row" class="th-profile">
                    <label for="marca">Marca:</label>
                  </th>
                <td class="td-profile">
                    <input type="text" id="marca" class="form-control" formControlName="marca" [ngClass]="[ !edit ? 'cleaned' : '',
                    modProductForm.get('marca').touched && modProductForm.get('marca').invalid ? 'is-invalid' : '',
                    modProductForm.get('marca').dirty && modProductForm.get('marca').valid ? 'is-valid' : ''
                    ]">
                    <div class="invalid-feedback">Este campo es obligatorio</div>
                  </td>
                </tr>
           <tr>
             <th scope="row" class="th-profile">
               <label for="categoria">Categoria:</label>
             </th>
             <td class="td-profile">
               <select id="categoria" class="form-control" formControlName="categoria" [ngClass]="[ !edit ? 'cleaned' : '',
               modProductForm.get('categoria').touched && modProductForm.get('categoria').invalid ? 'is-invalid' : '',
               modProductForm.get('categoria').dirty && modProductForm.get('categoria').valid ? 'is-valid' : ''
               ]">
                 <option selected disabled>Seleccionar una categoria</option>
               </select>
               <div class="invalid-feedback">Este campo es obligatorio</div>
             </td>
           </tr>
         </tbody>
       </table>
       <div class="form-group " [ngClass]="!edit ? 'd-none' : 'd-flex justify-content-between'">
         <button type="button" class="btn btn-warning btn-estandar" (click)="cancelEdit()">
           Cancelar
         </button>
         <button type="submit" class=" btn btn-success btn-estandar" (click)="saveChanges()" [disabled]="!modProductForm.valid">
           Guardar cambios
         </button>
       </div>
     </form>
     <div class="text-right" [ngClass]="edit ? 'd-none' : 'd-flex justify-content-between'">
       <button type="button" class=" btn btn-info btn-estandar" 
         routerLinkActive="router-link-active">
         Borrar Producto
       </button>
       <button type="button" class=" btn btn-info btn-estandar" (click)="editProfile()">
         Editar 
       </button>
     </div>
   </div>
