<div class="container" id="div-reg">

  <form [formGroup]="newEntradaForm" class="form" id="form-new-entrada">

    <h1 class="h2 mb-3 font-weight-normal" id="h1-new-prod">Introducir una nueva Entrada</h1>

    <div class="form-group row">
      <label for="title" class="col-sm-2 col-form-label">Título:</label>
      <div class="col-sm-10">
        <input id="title" class="form-control" type="text" formControlName="title" [ngClass]="[
        newEntradaForm.get('title').touched && newEntradaForm.get('title').invalid ? 'is-invalid' : '',
        newEntradaForm.get('title').dirty && newEntradaForm.get('title').valid ? 'is-valid' : ''
        ]">
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
      <div class="col-sm-10">
        <textarea id="description" class="form-control" type="text" formControlName="description" [ngClass]="[
        newEntradaForm.get('description').touched && newEntradaForm.get('description').invalid ? 'is-invalid' : '',
        newEntradaForm.get('description').dirty && newEntradaForm.get('description').valid ? 'is-valid' : ''
        ]"></textarea>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="tipo" class="col-sm-2 col-form-label">Tipo:</label>
      <div class="col-sm-10">
        <select id="tipo" class="form-control" formControlName="tipo" [ngClass]="[
        newEntradaForm.get('tipo').touched && newEntradaForm.get('tipo').invalid ? 'is-invalid' : '',
        newEntradaForm.get('tipo').dirty && newEntradaForm.get('tipo').valid ? 'is-valid' : ''
        ]">
          <option selected disabled>Seleccionar un tipo</option>
          <option value="Producto">Producto</option>
          <option value="Tecnica">Técnica</option>
        </select>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row" *ngIf="newEntradaForm.get('tipo').value == 'Producto'">
      <label for="producto" class="col-sm-2 col-form-label">Producto:</label>
      <div class="col-sm-10">
        <select id="producto" class="form-control" formControlName="producto" [ngClass]="[
        newEntradaForm.get('producto').touched && newEntradaForm.get('producto').invalid ? 'is-invalid' : '',
        newEntradaForm.get('producto').dirty && newEntradaForm.get('producto').valid ? 'is-valid' : ''
        ]">
          <option selected disabled>Seleccionar un producto</option>
          <option *ngFor="let producto of productos" value="{{producto['Id']}}">{{producto["Nombre"]}}</option>
        </select>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row" *ngIf="newEntradaForm.get('tipo').value == 'Tecnica'">
      <label for="tecnica" class="col-sm-2 col-form-label">Técnica:</label>
      <div class="col-sm-10">
        <select id="tecnica" class="form-control" formControlName="tecnica" [ngClass]="[
          newEntradaForm.get('tecnica').touched && newEntradaForm.get('tecnica').invalid ? 'is-invalid' : '',
          newEntradaForm.get('tecnica').dirty && newEntradaForm.get('tecnica').valid ? 'is-valid' : ''
          ]">
          <option selected disabled>Seleccionar una tecnica</option>
          <option *ngFor="let tecnica of tecnicas" value="{{tecnica['Id']}}">{{tecnica["Nombre"]}}</option>
        </select>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="img" class="col-sm-2 col-form-label">Imagen:</label>
      <div class="col-sm-10">
        <input id="img" class="" type="file" formControlName="img" [ngClass]="[
      newEntradaForm.get('img').touched && newEntradaForm.get('img').invalid ? 'is-invalid' : '',
      newEntradaForm.get('img').dirty && newEntradaForm.get('img').valid ? 'is-valid' : ''
      ]" accept="image/png, image/jpeg">
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block btn-estandar" (click)="newEntrada()" [disabled]="!newEntradaForm.valid">
        Añadir Entrada
      </button>
    </div>
  </form>
</div>