<div class="container" id="div-new-prod">

  <form [formGroup]="newProductForm" class="form" id="form-new-prod">
    <h1 class="h2 mb-3 font-weight-normal" id="h1-new-prod">Introducir un nuevo Producto</h1>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
      <div class="col-sm-10">
        <input id="name" class="form-control" type="text" formControlName="name" [ngClass]="[
        newProductForm.get('name').touched && newProductForm.get('name').invalid ? 'is-invalid' : '',
        newProductForm.get('name').dirty && newProductForm.get('name').valid ? 'is-valid' : ''
        ]">
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
      <div class="col-sm-10">

        <textarea id="description" class="form-control" type="text" formControlName="description" [ngClass]="[
        newProductForm.get('description').touched && newProductForm.get('description').invalid ? 'is-invalid' : '',
        newProductForm.get('description').dirty && newProductForm.get('description').valid ? 'is-valid' : ''
        ]"></textarea>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="genero" class="col-sm-2 col-form-label">Genero:</label>
      <div class="col-sm-10">
        <select id="genero" class="form-control" formControlName="genero" [ngClass]="[
        newProductForm.get('genero').touched && newProductForm.get('genero').invalid ? 'is-invalid' : '',
        newProductForm.get('genero').dirty && newProductForm.get('genero').valid ? 'is-valid' : ''
        ]">
          <option selected disabled>Seleccionar un genero</option>
          <option value="Maquillaje">Maquillaje</option>
          <option value="Cuidados">Ciudados</option>
        </select>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>

    <div class="form-group row">
      <label for="ingredientes" class="col-sm-2 col-form-label">Ingredientes:</label>
      <div class="col-sm-10">

        <textarea id="ingredientes" class="form-control" type="text" formControlName="ingredientes" [ngClass]="[
        newProductForm.get('ingredientes').touched && newProductForm.get('ingredientes').invalid ? 'is-invalid' : '',
        newProductForm.get('ingredientes').dirty && newProductForm.get('ingredientes').valid ? 'is-valid' : ''
        ]"></textarea>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="marca" class="col-sm-2 col-form-label">Marca:</label>
      <div class="col-sm-10">

        <input id="marca" class="form-control" type="text" formControlName="marca" [ngClass]="[
        newProductForm.get('marca').touched && newProductForm.get('marca').invalid ? 'is-invalid' : '',
        newProductForm.get('marca').dirty && newProductForm.get('marca').valid ? 'is-valid' : ''
        ]">
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="categoria" class="col-sm-2 col-form-label">Categoría:</label>
      <div class="col-sm-10">

        <select id="categoria" class="form-control" formControlName="categoria" [ngClass]="[
        newProductForm.get('categoria').touched && newProductForm.get('categoria').invalid ? 'is-invalid' : '',
        newProductForm.get('categoria').dirty && newProductForm.get('categoria').valid ? 'is-valid' : ''
        ]">
          <option value="noSelected" selected disabled>Seleccionar categoria</option>
          <option *ngFor="let categoria of categorias" value="{{categoria['Id']}}">{{categoria['Nombre']}}</option>
        </select>
        <div class="invalid-feedback">Este campo es obligatorio</div>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-block btn-estandar" [disabled]="!newProductForm.valid" (click)="newProducto()">
        Crear cuenta
      </button>
    </div>
  </form>
</div>