#form-edit-entrada{
    height: 100%;
    padding-top: 100px;
    padding-bottom: 10px;
}
.cleaned{
    border: 0;
    background-color: rgb(255,239,140, 0.5);
    appearance:none;
}
.form-group {
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}
