#form-reg{
    padding-top: 2.5%;
    padding-bottom: 5%;
    font-size: 1em;
}
#h1-reg{
    padding-top: 2.5%;
}
.btn-estandar{
    background-color: #C5ADD0;
    border: 1px solid #C29BCB;
    color: black;
}