th{
    background-color: #f2f2f2;
    width: 50%;
}
#div-table-profile{
    width: 50% ;
}
.btn-info{
    background-color: #C5ADD0;
    border: 1px solid #C29BCB;
    color: black;
}
.btn-estandar{
    background-color: #C5ADD0;
    border: 1px solid #C29BCB;
    color: black;
}