<div class="container wm-75" id="div-edit-tec">
  <h1 class="h2 mb-3 font-weight-normal" id="h1-edit-tec">Mis Tecnicas</h1>
  <form [formGroup]="modTechnicForm" (ngSubmit)="saveChanges()" class="form">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row" class="th-profile">
            <label for="name">Nombre:</label>
          </th>
          <td *ngIf="!edit" class="td-profile">
            <select id="name" class="form-control" formControlName="name" (change)="selectOption($event.target.value)">
              <option selected disabled>Seleccionar un nombre</option>
              <option *ngFor="let tecnica of tecnicas" [value]="tecnica['Id']">{{ tecnica['Nombre'] }}</option>
            </select>
          </td>
          <td *ngIf="edit" class="td-profile">
            <input type="text" id="name" class="form-control" formControlName="name" [ngClass]="[ !edit ? 'cleaned' : '',
            modTechnicForm.get('name').touched && modTechnicForm.get('name').invalid ? 'is-invalid' : '',
            modTechnicForm.get('name').dirty && modTechnicForm.get('name').valid ? 'is-valid' : ''
            ]">
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
        </tr>
        <tr class="tr-desc">
          <th scope="row" class="th-profile hm-50">
            <label for="description">Descripción:</label>
          </th>
          <td class="td-profile text-aling-center hm-50">
            <textarea type="description" formControlName="description" class="form-control text-desc" id="description"
              placeholder="Escribe la descripción de la categoría" [ngClass]="[ !edit ? 'cleaned' : '',
            modTechnicForm.get('description').touched && modTechnicForm.get('description').invalid ? 'is-invalid' : '',
            modTechnicForm.get('description').dirty && modTechnicForm.get('description').valid ? 'is-valid' : ''
            ]"></textarea>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
        </tr>
        <tr>
          <th scope="row" class="th-profile">
            <label for="categoria">Categoria:</label>
          </th>
          <td *ngIf="!edit" class="td-profile">
            <input type="text" id="categoria" class="form-control" formControlName="categoria" [ngClass]="[ !edit ? 'cleaned' : '',
            modTechnicForm.get('categoria').touched && modTechnicForm.get('categoria').invalid ? 'is-invalid' : '',
            modTechnicForm.get('categoria').dirty && modTechnicForm.get('categoria').valid ? 'is-valid' : ''
            ]">
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
          <td *ngIf="edit" class="td-profile">
            <select id="categoria" class="form-control" formControlName="categoria" [ngClass]="[ !edit ? 'cleaned' : '',
            modTechnicForm.get('categoria').touched && modTechnicForm.get('categoria').invalid ? 'is-invalid' : '',
            modTechnicForm.get('categoria').dirty && modTechnicForm.get('categoria').valid ? 'is-valid' : ''
            ]">
              <option selected disabled>Seleccionar un nombre</option>
              <option *ngFor="let categoria of categorias"  [value]="categoria['Id']">{{ categoria['Nombre'] }}</option>
            </select>
            <div class="invalid-feedback">Este campo es obligatorio</div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group " [ngClass]="!edit ? 'd-none' : 'd-flex justify-content-between'">
      <button type="button" class="btn btn-warning btn-estandar" (click)="cancelEdit()">
        Cancelar
      </button>
      <button type="submit" class=" btn btn-success btn-estandar" (click)="saveChanges()"
        [disabled]="!modTechnicForm.valid">
        Guardar cambios
      </button>
    </div>
  </form>
  <div class="text-right" [ngClass]="edit ? 'd-none' : 'd-flex justify-content-between'">
    <button type="button" class=" btn btn-info btn-danger" (click)="msnBorrar()">
      Borrar Tecnica
    </button>
    <button type="button" class=" btn btn-info btn-estandar" (click)="editProfile()">
      Editar
    </button>
  </div>
</div>