<aside class="sidebar shadow-sm" id="div-siderbar">

  <div *ngIf="login" class="sidebar-profile d-flex flex-column justify-content-center p-5 m-1" id="div-usuario-img">
    <div class="picture-wrapper text-center pb-4">
      <div class="user-picture mr-auto">
        <img src="../../../assets/img/usuDefault.png" class="img-fluid" id="imgUsu" alt="Imagen de perfil de usuario">
      </div>
    </div>
    <div class="profile-details text-center pb-3">
      <p class="mb-0 name">{{nombre}}</p>
      <small class="role">@{{userName}}</small>
    </div>
  </div>
  <nav class="sidebar-menu p-1 pb-3">
    <div class="menu-header ml-1 mt-1 mb-2">
      Filtrar por:
    </div>
    <ul class="menu-items">
      <li >
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tecnicas
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <ul>
                <li *ngFor="let tecnica of tecnicas">
                    <a href="#" routerLink="/buscar-por-tecnica" routerLinkActive="active">
                      <i class="fa fa-align-center"></i>
                      <span>{{tecnica['Nombre']}}</span>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li >
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Productos
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <ul>
                  <li *ngFor="let producto of productos">
                      <a href="#" routerLink="/buscar-por-producto" routerLinkActive="active">
                        <i class="fa fa-align-center"></i>
                        <span>{{producto['Nombre']}}</span>
                      </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      <!--<li>
        <a href="#" routerLink="/forms" routerLinkActive="active">
          <i class="fas fa-gem"></i>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/tables" routerLinkActive="active">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/typography" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Typography</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/maps" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/notifications" routerLinkActive="active">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>-->
    </ul>
  </nav>
</aside>