<aside class="sidebar shadow-sm" id="div-siderbar">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="picture-wrapper text-center pb-4">
      <div class="user-picture mr-auto">
        <img src="../../../assets/img/usuDefault.png" class="img-fluid" id="imgUsu" alt="Imagen de perfil de usuario">
      </div>
    </div>
    <div class="profile-details text-center pb-3">
      <p class="mb-0 text-uppercase name">Jhon Doe</p>
      <small class="text-uppercase role">Administrator</small>
    </div>
  </div>
  <nav class="sidebar-menu p-1 pb-3">
    <div class="menu-header ml-1 mt-1 mb-2">
      Components
    </div>
    <ul class="menu-items">
      <li >
        <a href="#" routerLink="/dashboard" routerLinkActive="active">
          <i class="fa fa-tv"></i>
          <span>Dashboard</span>
          <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/forms" routerLinkActive="active">
          <i class="fas fa-gem"></i>
          <span>Forms</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/tables" routerLinkActive="active">
          <i class="fa fa-table"></i>
          <span>Tables</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/typography" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Typography</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/maps" routerLinkActive="active">
          <i class="fa fa-globe"></i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/notifications" routerLinkActive="active">
          <i class="fas fa-bell"></i>
          <span>Notifications</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>